process {
    resourceLimits {
        memory = '6.GB'
        cpus   = 2
        time   = '1.h'
    }
}

params {
    skip_markduplicates = true
}

process {
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        container = 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
    }
        withName:MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
    }
}